.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.buttonsContainer {
  display: flex;
  justify-content: center; /* Centraliza os botões horizontalmente */
  gap: 1rem; /* Espaço de 1rem entre os botões */
}

.button{
    display: flex;
    width: 25ch;
    margin: 20px;
    background-color: #D60014;
    justify-content: center;
    font-weight: bold;
    color: white;
  }

  .buttonForm{
    font-size: 13px;
    display: flex;
    width: 25ch;
    top: 10px;
    left: 22%;
    background-color: #D60014;
    justify-content: center;
    font-weight: bold;
    color: white;
  }

  .button:hover {
    background-color: #8b0000;
  }
  .buttonForm:hover {
    background-color: #8b0000;
  }

  .form{
    color: #D60014;
    text-align: center;
    font-family: 'Arial';
  }
